/*Pour les icones du tableau des réponses*/
.fa-times  {
    color : red !important;
}

.fa-check {
    color: green !important;
}

/* Pour la fenetre de Login*/
.form-check {
    padding-left: 12px;
}

.card-login .form {
    min-height: 240px;
}

/*Pour pallier au CSS definitions material design qui pose probleme*/
.navbar-header {
    flex-direction: row;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}
    
.navbar > .container, .navbar > .container-fluid {
    display: block;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.btn {
    font-size: 12px;
}

footer {
    display: block;
}