@{
    ViewData["Title"] = "About";
}
<h2>Projet QuizzMania</h2>


<p>L'objectif de ce projet est de fournir une application "basique" qui permet de répondre à des questions (quizz), et d'afficher les réponses de tous les participants au tableau...</p>
<h3>Environement Technique</h3>
<p>
    <ul>
        <li>Asp.net core 3.1</li>
        <li>SignalR</li>
        <li>EntityFramework</li>
    </ul>
</p>
