@model IEnumerable<UsersModel> 
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Elève</th>
            <th scope="col">Réponses</th>
            <th scope="col">A répondu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td ><span id="@(item.Id)" class="reponse"></span></td>
                <td><i class="list-icon fa fa-times" id="icon@(item.Id)"></i></td>

            </tr>
        }
    </tbody>

</table>

<button id="btnshow" class="btn">Afficher les réponses</button>
<button id="btn_next" class="btn">Question suivante</button>

<script src="~/js/admin.js"></script>


