@model IEnumerable<UsersModel> 
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Answers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td id="@(item.Id)"></td>
            </tr>
        }
    </tbody>
</table>


