@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/images/UserLogin.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->

            <h1>Bienvenue sur QuizzMania</h1>

            <h2>Merci de vous identifier</h2>
            <form asp-controller="Home" asp-action="Login">
                @Html.EditorForModel()
                <input type="submit" value="Submit my details" />
            </form>
        </div>
    </div>



