@{
    ViewData["Title"] = "Home Page";
}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form asp-controller="Home" asp-action="Login" method="post">
                <div asp-validation-summary="All"/>
                <input type="text" id="login" class="fadeIn one" name="login" placeholder="login">
                <input type="text" id="password" class="fadeIn two" name="password" placeholder="password">
                <input type="checkbox" name="isadmin">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
            
                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>

        </div>
    </div>



