@model UserViewModel
@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}
@*
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/images/UserLogin.png" id="icon" alt="User Icon" />
            </div>
            <h1>Bienvenue sur QuizzMania</h1>
            <h2>Merci de vous identifier</h2>
            <!-- Login Form -->
            <form asp-controller="Home" asp-action="Login">
                @Html.EditorForModel()
                <input type="submit" value="Se connecter" />
            </form>
        </div>
    </div>
*@


<!--
 =========================================================
 * Material Kit - v2.0.6
 =========================================================
 * Product Page: https://www.creative-tim.com/product/material-kit
 * Copyright 2019 Creative Tim (http://www.creative-tim.com)
   Licensed under MIT (https://github.com/creativetimofficial/material-kit/blob/master/LICENSE.md)
 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Login</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/login/css/material-kit.css?v=2.0.6" rel="stylesheet" />
</head>

<body class="login-page sidebar-collapse" style="background-image: url('/login/img/question-background.png'); background-size: cover; background-position: top center;">
    <div class="page-header header-filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <form class="form" asp-controller="Home" asp-action="Login">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Authentification</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">face</i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Prénom..." id="FirstName" name="FirstName"/>
                                </div>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="true" id="IsAdmin" name="IsAdmin"/>Admin
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>

                            <div class="footer text-center">
                                <input type="submit" class="btn btn-primary btn-link btn-wd btn-lg" value="Se connecter"/>
                                @*<a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Se connecter</a>*@
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--   Core JS Files   -->
    <script src="~/login/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="~/login/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/login/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="~/login/js/plugins/moment.min.js"></script>
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="~/login/js/material-kit.js?v=2.0.6" type="text/javascript"></script>
</body>

</html>