
@{
    ViewData["Title"] = "Quizz";
}

<h2>Quizz</h2>

<!-- QUestionnary Form -->
<form asp-controller="Home" asp-action="Quizz" method="post">
    <input type="text" class="fadeIn one" name="answer" placeholder="answers">
    <input type="submit" class="fadeIn two" value="Log In">
</form>

