@model UsersViewModel
@{
    ViewData["Title"] = "Quizz";
}
<h2>Quizz</h2>
<br /> 
<p>Soumettre votre réponse</p>
<input type="text" class="form-control" id="messageInput" placeholder="Votre réponse" />
<br />
<button id="sendButton" class="btn" data-id="@Model.Id" data-firstname="@Model.FirstName">Soumettre</button>

